<!--The content below is only a placeholder and can be replaced.-->

<mat-toolbar>
  <span>OpenCV {{opencvReady ? 'Ready' : 'loading'}}</span>
  <span class="flex"></span>
  <button mat-flat-button [disabled]="!opencvReady" (click)="toggleStream()">{{streaming ? 'Stop' : 'Start'}}</button>
</mat-toolbar>
<div class="content">
  <div><video id="videoInput"></video></div>
  <div><canvas id="canvasOutput"></canvas></div>
</div>

<div class="footer">
  <div class="task" *ngIf="task">{{task}}</div>
  <div class="err" *ngIf="error">{{error}}</div>
</div>