:host { width: 100%; }
.content { width: 100%; display: flex; }
.content > div { flex: 1 1 0; border: 1px solid black; margin: 8px; }
video, canvas { width: 100%; }

.flex { flex: 1; }

.footer {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
}

.err {
  background-color: red;
  color: white;
  padding: 8px;
  border-radius: 4px;
  box-sizing: border-box;
}

.task {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin: 12px;
}